<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="Slambot" type="system">
        <!-- <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">true</param>
        </hardware> -->

        <hardware>
           <plugin>slambot_hardware/SlambotHardwareInterface</plugin>
           <param name="left_wheel_name">revolution_3</param>
           <param name="right_wheel_name">revolution_5</param>
           <param name="loop_rate">150</param>
           <param name="device">/dev/ttyUSB0</param>
           <param name="baud_rate">115200</param>
           <param name="timeout_ms">200</param>
           <param name="enc_counts_per_rev">20</param>
        </hardware>


        <joint name="revolution_3">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        
        
            <joint name="revolution_5">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
</robot>